<html>
	<head>
		<title>Mantenimiento de clientes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<script
	  src="https://code.jquery.com/jquery-3.5.1.min.js"
	  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	  crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="js/mantenimientos_js.js"></script>	
</head>


<body class="ng-scope" ng-app="mantenimiento" ng-controller="empresa">
<a ng-click="atras()" >Atras </a>
	<h1>
		Mantenimiento Empresa
	</h1>
	
	<form method="post" ng-submit="enviar()">
		<input type="text" ng-model="empresa_id">
		<input type="text" placeholder="Nombre" ng-model="empresa_nombre">
		<input type="text" placeholder="Razon Social" ng-model="empresa_razon_social">
		<textarea cols= "50" rows="2" type="text" name="notificacion_text" ng-model="empresa_direccion" placeholder="Direccion"></textarea>
		<input type="text" placeholder="RUC" ng-model="empresa_ruc">

		<input type="submit" id="submit" name="submit">
	</form>

	
	<div ng-if="ver" ng-init="ver=false">
		{{message}}
	</div>
</body>
</html>